parameters:
    aoeathon_monster_og.screenshot_data_storage.class: Aoeathon\MonsterOGBundle\ScreenshotDataStorage\NullScreenshotDataStorage
    aoeathon_monster_og.screenshot_meta_storage.class: Aoeathon\MonsterOGBundle\ScreenshotMetaStorage\NullScreenshotMetaStorage
    aoeathon_monster_og.screenshot_repository.class: Aoeathon\MonsterOGBundle\Entity\ScreenshotRepository
    aoeathon_monster_og.screenshot_service.class: Aoeathon\MonsterOGBundle\Service\ScreenshotService

services:

    aoeathon_monster_og.screenshot_data_storage:
        class: %aoeathon_monster_og.screenshot_data_storage.class%

    aoeathon_monster_og.screenshot_meta_storage:
        class: %aoeathon_monster_og.screenshot_meta_storage.class%

    aoeathon_monster_og.screenshot_repository:
        class: %aoeathon_monster_og.screenshot_repository.class%
        arguments: [@aoeathon_monster_og.screenshot_data_storage, @aoeathon_monster_og.screenshot_meta_storage]

    aoeathon_monster_og.screenshot_service:
        class: %aoeathon_monster_og.screenshot_service.class%
        arguments: [@aoeathon_monster_og.screenshot_repository, @aoeathon_screenshot.screenshot_service]

